<div class="content">
  <mat-card class="article-card" *ngFor="let o of articles">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img class="photo-writer" *ngIf="o.Writer" [src]="o.Writer.Photo" alt="" />
      </div>
      <mat-card-title>{{o.Title}}</mat-card-title>
      <mat-card-subtitle *ngIf="o.Writer">{{o.Writer.FirstName}} {{o.Writer.LastName}}</mat-card-subtitle>
    </mat-card-header>
    <app-carousel *ngIf="o.Medias" [medias]="o.Medias"></app-carousel>
    <!-- <img mat-card-image src="{{o.MediaPath}}" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        {{o.Text}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="clickLike()" [class.like]="likeIt">
        <mat-icon aria-label="like it">favorite</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon aria-label="share it">share</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>