
.content {
    margin: 35px 5px 30px 5px;
}


.load-more{
    width: 100%;
    background: linear-gradient(135deg, rgba(158,104,16,1) 0%,rgba(250,227,85,1) 100%);
    color:#fff;
    font-weight: bold;
}