<div class="content" id="content">
  <div *ngIf="articles.length==0 && !isLoading" style="height:100px;text-align: center;vertical-align:middle;color:#ccc;">Artikel
    tidak ditemukan</div>
    <div *ngIf="searchResult && !isLoading" style="height:30px;text-align: center;vertical-align:middle;color:rgb(112, 112, 112);">Hasil pencarian {{searchKey}}</div>
  <app-loading *ngIf="articles.length==0  && isLoading"></app-loading>
  <div *ngFor="let o of articles | sortdesc">
    <app-article-card [article]="o"></app-article-card>
  </div>
  <button mat-stroked-button color="primary" class="load-more" style="width: 100%;" (click)="morePrev()">Muat Lebih</button>
</div>