<div class="article-container">
  <mat-card class="article-card">
    <mat-card-content>
      <h2>Mulai Menulis</h2>
      <div class="article-form">
        <mat-form-field>
          <input matInput placeholder="Judul" [(ngModel)]="article.Title">
        </mat-form-field>
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let cat of cats" [selectable]="selectable" [removable]="removable" (removed)="remove(cat)">
              {{cat}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Kategori..." #catInput [formControl]="catCtrl" [matAutocomplete]="auto"
              [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let cat of filteredCats | async" [value]="cat">
              {{cat}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <app-carousel *ngIf="medias.length" [medias]='medias'></app-carousel>
        <div class="upload-btn-wrapper">
          <button class="btn-file" (click)="fileInput.click()">
            <i class="material-icons">
              perm_media
            </i>
            Pilih Media
          </button>
          <input type="file" accept="image/*,video/*" #fileInput name="article" (change)="readUrlImg($event)" multiple />
        </div>
        
        <br/>
        <mat-form-field>
          <textarea matInput placeholder="Tulisan" [(ngModel)]="article.Text"></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button color="primary" (click)="save()">
        <i class="material-icons" style="font-size:20px;">save</i> POSTING
      </button>
    </mat-card-actions>
  </mat-card>
</div>