.content-read {
    margin: 55px 5px 35px 5px;
}

.article-card{
    margin:0;
}

.like{
    color:#ff1e4f;
}
.btn-back{
    background: linear-gradient(135deg, rgb(250,227,85) 0%,rgb(211,167,23) 100%);
    color:#000;
}