<div class="content-read">
  <app-loading *ngIf="!o.Id"></app-loading>
  <div style="padding-bottom:5px;position: fixed;z-index: 99;margin-top:-45px;">
    <button class="btn-back" (click)="goToPrevious()" mat-raised-button>
      <mat-icon aria-label="Kembali">arrow_back</mat-icon> Kembali
    </button>
  </div>
  <mat-card class="article-card-read" *ngIf="o.Id">
    <app-article-header *ngIf="o.Writer" [user]="o.Writer" [articlecode]="o.ArticleCode" [articletitle]="o.Title"></app-article-header>
    <app-carousel *ngIf="o.Medias" [medias]="o.Medias"></app-carousel>
    <mat-card-content>
      <p class="article-text" [innerHtml]="o.TextSanitizer">
      </p>
      <span style="font-size:12px;">{{o.CreatedDate | date}}</span>
    </mat-card-content>
    <mat-card-actions *ngIf="authData">
      <button title="like toggle" mat-icon-button (click)="clickLike(o.ArticleCode)" [class.like]="o.LikeIt">
        <mat-icon aria-label="like it">favorite</mat-icon>
      </button>
      <span style="font-size: 10px;font-weight: bold;" *ngIf="o.Likes && authData.usercode">
        {{o.Likes.length > 0 ?
        o.Likes.length > 1 ?
        o.Likes[0].UserCode === authData.usercode ?
        'Anda dan '+ (o.Likes.length-1)+' orang lainnya suka' : o.Likes[0].FirstName+' '+o.Likes[0].LastName+' dan '+
        (o.Likes.length-1)+' orang lainnya suka'
        : o.Likes[0].UserCode === authData.usercode ?
        'Anda suka' : o.Likes[0].FirstName+' '+o.Likes[0].LastName+' suka'
        :''}}
      </span>
      <button mat-icon-button>
        <mat-icon aria-label="share it">share</mat-icon>
      </button>
    </mat-card-actions>
    <app-comment [articleCode]="o.ArticleCode"></app-comment>
  </mat-card>
</div>