<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar" style="color:#202020;background: #fff;border-bottom:1px #ccc solid;">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name"><span class="re-title">ReVamp</span></h1>
    <span class="spacer"></span>
    <span class="main-search">
      <input class="main-search-input" placeholder="Cari">
      <button mat-button class="remove-search" matSuffix mat-icon-button aria-label="Clear" (click)="serachValue=''">
        <mat-icon>search</mat-icon>
      </button>
    </span>
    <span class="spacer-right"></span>
    <span *ngIf="!authData.auth" style="color:#202020;margin-right: 0px;">
      <button mat-icon-button (click)="openLoginDialog()">
        <mat-icon>person</mat-icon>
      </button>
    </span>
    <span *ngIf="authData.auth" style="color:#202020;margin-right: 0px;">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <img class="profile-pic-toolbar" [src]="authData.profilepic" alt="" />
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goTo('/main/profile')">
          <mat-icon>face</mat-icon>
          <span>Profil</span>
        </button>
        <button mat-menu-item (click)="goTo('/main/setting')">
          <mat-icon>settings</mat-icon>
          <span>Setelan</span>
        </button>
        <button mat-menu-item (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Keluar</span>
        </button>
      </mat-menu>
    </span>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item [routerLink]="nav.Path" *ngFor="let nav of fillerNav">
          <mat-icon>{{nav.Icon}}</mat-icon>&nbsp;&nbsp;{{nav.Text}}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div [fxLayout]="'row wrap'" fxLayoutAlign="center none">
        <div fxFlex="25" fxHide.xs fxFlex.sm="10"></div>
        <div fxFlex="50" fxFlex.xs="98" fxFlex.sm="80">
          <router-outlet></router-outlet>
        </div>
        <div fxFlex="25" fxHide.xs fxFlex.sm="10"></div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>