<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" style="height: 100vh;overflow-y: hidden;">
  <mat-toolbar color="primary" class="example-toolbar" style="color:#202020;background: #fff;border-bottom:1px #ccc solid;">
    <button mat-icon-button (click)="snav.toggle()" style="width:35px;height:35px;">
      <mat-icon>menu</mat-icon>

    </button>
    <img [src]="baseAsssetUrl+'revamp_logo.png'" style="width:26px;height:26px;margin-left:10px;" alt='' />&nbsp;
    <h1 *ngIf="!mobileQuery.matches" class="example-app-name"><span class="re-title1">re</span><span class="re-title2">vamp</span><span
        style="margin-left: 5px;font-size: 14px;">#pensiunitukesempatan</span></h1>
    <span class="spacer"></span>
    <span class="main-search">
      <input class="main-search-input" placeholder="Cari" [(ngModel)]="searchValue" (keyup.enter)="globalSearch()">
      <button mat-button class="remove-search" matSuffix mat-icon-button aria-label="Clear" (click)="globalSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </span>
    <span class="spacer-right"></span>
    <span *ngIf="!authData.auth" style="color:#202020;margin-right: 0px;">
      <button mat-icon-button (click)="openLoginDialog()">
        <mat-icon>person</mat-icon>
      </button>
    </span>
    <span *ngIf="authData.auth" style="color:#202020;margin-right: 0px;">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <img class="profile-pic-toolbar" [src]="authData.profilepic" alt="" />
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goTo('/main/profile')">
          <mat-icon>face</mat-icon>
          <span>Profil</span>
        </button>
        <button mat-menu-item (click)="goTo('/main/setting')">
          <mat-icon>settings</mat-icon>
          <span>Setelan</span>
        </button>
        <button mat-menu-item (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Keluar</span>
        </button>
      </mat-menu>
    </span>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item (click)="goTo('/main/'+nav.Path, nav.Params);mobileQuery.matches ? snav.toggle():null;" *ngFor="let nav of fillerNav">
          <mat-icon>{{nav.Icon}}</mat-icon>&nbsp;&nbsp;{{nav.Text}}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content id="main-scroll" style="height: 90vh;overflow-y: auto;">
      <div [fxLayout]="'row wrap'" fxLayoutAlign="center none">
        <div fxFlex="25" fxHide.xs fxFlex.sm="10">
          <mat-card class="contributor" *ngIf="articles.length >0">
            <h4>Trends</h4>
            <div *ngFor="let o of articles" style="margin-bottom:10px;">
              <app-article-header [id]="o.ArticleCode" *ngIf="o.Writer" [user]="o.Writer" [articlecode]="o.ArticleCode"
                [articletitle]="o.Title"></app-article-header>
            </div>
          </mat-card>
        </div>
        <div fxFlex="50" fxFlex.xs="98" fxFlex.sm="80">
          <router-outlet (activate)="onActivate($event)"></router-outlet>
        </div>
        <div fxFlex="25" fxHide.xs fxFlex.sm="10">
          <mat-card class="contributor" *ngIf="profiles.length >0">
            <h4>Penulis</h4>
            <div *ngFor="let profile of profiles" style="margin-bottom:10px;">
              <app-profile-card [profile]="profile"></app-profile-card>
            </div>
          </mat-card>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>