.setting-container{
    margin: 30px 5px 30px 5px;
}
.setting-form{
    text-align: center;
}
.setting-form > *{
    width: 100%;
}

.category{
    height: 80px;
    border-radius: 4px;
    margin: 5px;
    color:#fff;
    font-weight: bold;
    background-size: 100%;
}

.overlay-white{
    position: inherit;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
    height: 70px;
    padding: 5px;
    cursor: pointer;
}

.overlay-white:hover {
    background: rgba(0, 0, 0, 0.144);
}


.overlay-white-text{
    position: inherit;
    opacity: 1;
    height: 60px;
    padding: 15px 0px 0px 5px;
    z-index: 5;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.followed{
    position: absolute;
    width: inherit;
    display: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}