/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons|Pattaya|Pacifico');

body{
    font-family: Arial,serif;
 }

 .mat-toolbar-single-row{
    padding: 0 5px !important;
 }

 .mat-radio-label-content{
    padding-left: 0px !important;
}

.mat-radio-label{
    margin: 10px;
}

.blue-snackbar button{
    color:#2196F3;
    background: #fff
}

.material-icons{
    display: inline-flex !important;
    vertical-align: middle !important;
}

.upload-btn-wrapper {
    display: block;
    width: 100%;
    cursor: pointer;
}

.btn-file {
    display: block;
    width: 100%;
    border: none;
    color: #fff;
    background: #00acc1;
    padding: 8px 20px;
    font-size: 12px;
    font-weight: bold;
    
    cursor: pointer !important;
}

.upload-btn-wrapper{
    position: relative;
    cursor: pointer !important;
}

.upload-btn-wrapper input[type=file] {
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    
    cursor: pointer !important;
}

.upload-btn-wrapper button {
    margin-top: 10px;
    font-size: 16px;
    
    cursor: pointer !important;
}
.imgc-topbar:first-child{
    display: none;
}

.article-text iframe{
    width: 100% !important;
    height: 264px;
}

.article-text  *{
    font-family: Arial !important;
    font-size: 14px !important;
    line-height: 20px !important;
    width: 100% !important;
}

