/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');
@import url( 'https://fonts.googleapis.com/css?family=Pattaya');

body{
    font-family: 'Roboto',serif;
 }

 .mat-toolbar-single-row{
    padding: 0 5px !important;
 }

 .mat-radio-label-content{
    padding-left: 0px !important;
}

.mat-radio-label{
    margin: 10px;
}

.blue-snackbar {
    background: #2196F3 !important;
}
.blue-snackbar button{
    color:#2196F3;
    background: #fff
}